body {
    background-color: #f0f0f0;
    font-family: "Time newroman", serif;
    margin: 0;
    padding: 20px;
}

.container {
    background: white;
    width: 850px;
    margin: auto;
    padding: 50px;
}

.header {
    text-align: center;
    font-size: 14px;
}

.title {
    text-align: center;
    margin: 40px 0;
    font-size: 22px;
}

h2 {
    font-size: 18px;
    margin-top: 30px;
}

p, li {
    font-size: 14px;
    line-height: 2;
    text-align: justify;
}

ol {
    margin-left: 40px;
}
body{
  background-color:White;
}
